.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("/images/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.list-group{
  display:inline-block;
}
.exp{
  height: 15vh;
  min-height: 15px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.cont-center {
  margin-left: auto;
  margin-right: auto;
}
